<mat-card style="width: 600px; margin: auto">
  <img mat-card-image src="{{ user.photo }}" style="height: 300px; object-fit: cover">
  <mat-card-title>
    <h2>Работодатель {{ user.name }}</h2>
    <h3>Отзывы</h3>
  </mat-card-title>
  <mat-card-content style="display: flex; flex-wrap: wrap; justify-content: space-between">
    <mat-card style="width: 230px; margin-bottom: 20px" *ngFor="let review of user.reviews">
      <mat-card-content>
        <mat-card-title>
          <h4>{{ review.name }}</h4>
        </mat-card-title>
        <mat-card-content>
          {{ review.review }}
        </mat-card-content>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>