/* You can add global styles to this file, and also import other style files */
.si-has-border .si-content-wrapper {
    padding: 20px;
    border: 1px solid #bbb;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #777;
}
.si-shadow-frame {
    box-shadow: none!important;
}